@page
@model FinalProjectAtm.Razor.Pages.Transactions.DepositModel
@{
    ViewData["Title"] = "Deposit";
}

<div>
    <h2>Deposit</h2>

    <form id="screenForm" method="post">
        <div>
            <label for="amount">Amount:</label>
            <input type="text" id="amount" name="amount" pattern="^\d*(\.\d{1,2})?$" required />
        </div>

    </form>


    @if (TempData["ErrorMessage"] != null)
    {
        <p style="color: red;">@TempData["ErrorMessage"]</p>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <p style="color: green;">@TempData["SuccessMessage"]</p>
    }

</div>
