<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinalProjectAtm.Razor</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinalProjectAtm.Razor.styles.css" asp-append-version="true" />
</head>
@* <body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">FinalProjectAtm.Razor</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FinalProjectAtm.Razor - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body> *@



<link rel="stylesheet" href="~/css/AtmStyle.css">

<body style="background-image:linear-gradient(45deg, black, rgb(10, 8, 81)">
    <div class="fundo">
        <div class="atmBox">
            <h1>ATM</h1>
            <div id="screen">
                @RenderBody()
            </div>

            <table>
                <tr>
                    <td><button class="buttons"><br>1</br> <br></br></button></td>
                    <td><button class="buttons"><br>2</br> <br>abc</br> </button></td>
                    <td><button class="buttons"><br>3</br> <br>def</br> </button></td>
                    <td><button class="buttons"><br>Cancelar</br> <br></br> </button></td>
                </tr>
                <tr>
                    <td><button class="buttons"><br>4</br> <br>ghi</br> </button></td>
                    <td><button class="buttons"><br>5</br> <br>jkl</br> </button></td>
                    <td><button class="buttons"><br>6</br> <br>mno</br></button></td>
                    <td><button class="buttons"><br>Corrigir</br><br></br></button></td>
                </tr>
                <tr>
                    <td><button class="buttons"><br>7</br> <br>pqrs</br></button></td>
                    <td><button class="buttons"><br>8</br> <br>tuv</br></button></td>
                    <td><button class="buttons"> <br>9</br> <br>wxyz</br></button></td>
                    <td rowspan="2"><button class="buttons" style="height: 188px;" onclick="atmSubmitForm()">Confirmar</button></td>
                </tr>
                <tr>
                    <td colspan="2"><button class="buttons" style="width: 400px;">0</button></td>
                    <td><button class="buttons">.</button></td>
                </tr>
            </table>
        </div>
    </div>
    <script src="~/js/AtmBox.js"></script>
</body>
</html>