* {
    margin: 0;
    padding: 0;
}

/*#screen {
    background-color: #e0e0e0; 
    width: 95%; 
    height: 50px; 
    margin: 10px auto; 
    font-size: 50px; 
    color: black; 
    text-align: right; 
    padding: 10px; 
    border: 2px solid black; 
    border-radius: 5px; 
}*/

/*#screen {
    background-color: #e0e0e0;
    width: 100%;*/ /* Largura ajustada */
    /*height: 140px;*/ /* Aumentar altura para maior visibilidade */
    /*margin: 10px auto;*/ /* Centralizar */
    /*font-size: 30px;*/ /* Ajustar tamanho da fonte */
    /*color: black;*/ /* Cor do texto */
    /*text-align: right;*/ /* Alinhar o texto à direita */
    /*padding: 10px;*/ /* Espaçamento interno */
    /*border: 2px solid black;*/ /* Borda preta */
    /*border-radius: 5px;*/ /* Cantos arredondados */
    /*overflow-y: auto;*/ /* Habilitar barra de rolagem caso o texto seja muito longo */
/*}*/

#screen {
    background-color: #e0e0e0;
    width: 100%; /* Largura ajustada */
    height: 170px; /* Tamanho aumentado */
    margin: 10px auto; /* Centralizar */
    font-size: 15px; /* Ajuste no tamanho da fonte */
    color: black; /* Cor do texto */
    text-align: left; /* Alinhar texto à esquerda */
    padding: 10px; /* Espaçamento interno */
    border: 2px solid black; /* Borda preta */
    border-radius: 5px; /* Cantos arredondados */
    overflow-y: auto; /* Habilitar barra de rolagem caso necessário */
    resize: none; /* Impedir redimensionamento */
    display: flex; /* Para organizar o layout dentro */
    flex-direction: column; /* Layout de coluna para os inputs */
    justify-content: center; /* Centralizar os elementos */
}

    #screen form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #screen input {
        margin: 5px;
        padding: 5px;
        font-size: 18px;
        width: 90%;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

.fundo {
    background-image: linear-gradient(45deg, black, rgb(10, 8, 81));
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.atmBox {
    position: absolute;
    background-color: rgb(13, 95, 133);
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    border-radius: 15px;
    padding: 15px;
}

.buttons {
    width: 200px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
}

    .buttons:hover {
        background-color: black;
    }
