@page
@model FinalProjectAtm.Razor.Pages.OtherOptions.MyBalanceModel
@{
    ViewData["Title"] = "My Balance";
}

<div>
    <h2>My Balance</h2>
    <table>
        <tr>
            <th>Balance</th>
        </tr>

        <tr>
            <td>@Model.Account.Balance</td>
        </tr>
    </table>

</div>
