@page
@model FinalProjectAtm.Razor.Pages.OtherOptions.UpdatePasswordModel
@{
    ViewData["Title"] = "Change Password";
}
<div>
    <h2>Change Password</h2>

    <form id="screenForm" method="post">
        <div>
            <label for="password">New password:</label>
            <input type="text" id="password" name="password" required />
        </div>

    </form>


    @if (TempData["ErrorMessage"] != null)
    {
        <p style="color: red;">@TempData["ErrorMessage"]</p>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <p style="color: green;">@TempData["SuccessMessage"]</p>
    }

</div>


